main {
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  overflow: hidden;
}
.container {
  margin: 25px 16px 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  background-image: url("/images/pattern-bg.svg");
  background-size: 342px;
  width: 100%;
  justify-content: center;
  background-repeat: no-repeat;
  background-position: center top;
  @include breakpoint-up(x-small) {
    background-size: 350px;
  }
  @include breakpoint-up(small) {
    background-position: right;
    background-size: 450px;
    height: 100%;
  }
  @include breakpoint-up(large) {
    background-size: 550px;
    margin: 0 50px;
  }
  .slide-control {
    background-color: $base;
    height: 50px;
    width: 100px;
    position: absolute;
    border-radius: 50px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
    top: 420px;
    display: flex;
    z-index: 5;
    @include breakpoint-up(small) {
      top: 570px;
      right: 225px;
    }
    @include breakpoint-up(large) {
      top: 615px;
      right: 375px;
    }
    .left,
    .right {
      width: 50px;
      &:hover {
        box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.2);
      }
    }
    .left {
      background-image: url("/images/icon-prev.svg");
      background-repeat: no-repeat;
      background-position: center;
      &:hover {
        border-radius: 50px 0 0 50px;
      }
    }
    .right {
      background-image: url("/images/icon-next.svg");
      background-repeat: no-repeat;
      background-position: center;
      &:hover {
        border-radius: 0 50px 50px 0;
      }
    }
  }
  .slide {
    font-size: 2.4em;
    color: $darkBlue;
    padding: 30px 0px 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    font-weight: 300;
    z-index: 0;
    @include breakpoint-up(small) {
      flex-direction: row-reverse;
      text-align: start;
      padding: 30px;
      width: 740px;
      font-size: 2.5em;
    }
    @include breakpoint-up(medium) {
      width: 880px;
      font-size: 3em;
    }
    img {
      border-radius: 5px;
      box-shadow: 0 0 15px rgba(0, 0, 0, 0.2);
      margin-bottom: 25px;
      width: 270px;
      @include breakpoint-up(small) {
        width: 350px;
        margin-bottom: 0;
        z-index: 0;
      }
      @include breakpoint-up(medium) {
        width: 360px;
      }
      @include breakpoint-up(large) {
        width: 425px;
      }
    }
    .text {
      @include breakpoint-up(x-small) {
        margin-top: 15px;
      }
      @include breakpoint-up(small) {
        width: 410px;
        margin-top: 0;
        position: absolute;
        left: 25px;
      }
      @include breakpoint-up(medium) {
        width: 470px;
      }
      .quote {
        margin-top: 25px;
        background-image: url("/images/pattern-quotes.svg");
        background-repeat: no-repeat;
        background-position: center top;
        background-size: 20%;
        padding: 15px 0;
        @include breakpoint-up(small) {
          z-index: 5;
          background-position: 55px top;
          padding: 40px 0 10px;
          width: 409px;
        }
        @include breakpoint-up(medium) {
          width: 470px;
        }
      }
      .reviewer {
        font-size: 1rem;
        font-weight: 500;
        display: flex;
        flex-direction: column;
        @include breakpoint-up(small) {
          flex-direction: row;
          margin-top: 15px;
        }
        p {
          color: $grayBlue;
          @include breakpoint-up(small) {
            margin-left: 5px;
          }
        }
      }
    }
    &[data-name="john"] {
      animation: fadeRight ease 0.5s;
      animation-fill-mode: forwards;
    }
    &[data-name="tanya"] {
      animation: fadeLeft ease 0.5s;
      animation-fill-mode: forwards;
    }
    &.hide {
      display: none;
    }
  }
}
